@model UserSignup.ViewModels.AddUserViewModel
<br />
<form asp-controller="User" asp-action="Add" method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-element">
        <label asp-for="Username"></label>
        <input asp-for="Username" />
    </div>
    <div class="form-element">
        <label asp-for="Email"></label>
        <input asp-for="Email"  />
    </div>
    <div class="form-element">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <div class="form-element">
        <label asp-for="Verify"></label>
        <input asp-for="Verify" type="password" />
    </div>
    <div class="form-element">
        <label asp-for="Location">Location</label>
        <input asp-for="Location"  />
    </div>
    <div class="form-element">
        <label asp-for="Birthday"></label>
        <input asp-for="Birthday" />
    </div>

    <input type="submit" value="Submit" />
</form>
