<table>
    <tr>
        <td>Username:</td>
        <td>@ViewBag.user.Username</td>
    </tr>
    <tr>
        <td>Join Date:</td>
        <td>@ViewBag.user.CreateDate</td>
    </tr>
    <tr>
        <td>Location:</td>
        <td>@ViewBag.user.Location</td>
    </tr>
    <tr>
        <td>Birthday:</td>
        <td>@ViewBag.user.Birthday</td>
    </tr>
</table>