@model UserSignup.Models.User

<br />

@if (String.IsNullOrEmpty(Model.Username))
{
    <p>Please <a asp-area="" asp-controller="User" asp-action="Add">Sign up</a>.</p>
}
else
{
    <p>Welcome, @Model.Username!</p>
}

<p>Users:</p>
<ul>
    @foreach (var user in ViewBag.users)
    {
        <li><a asp-area="" asp-controller="User" asp-action="Details" asp-route-userId="@user.UserId">@user.Username</a> - joined @user.CreateDate</li>
    }
</ul>